@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Naskh+Arabic:wght@400..700&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-ground-white: #F8FAFC;
  --color-ground-black: #121212;
  --color-primary: #F0E8D5;
  --color-secondary: #004040;
  --color-tertiary: #BEA473;
  --color-dark-primary: #0E1A1A;
  --color-dark-secondary: #006060;
  --color-dark-tertiary: #C8A870;
  --color-dark-text-primary: #D4C8A8;

  --font-arabic: "Noto Naskh Arabic", serif;
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Berkshire Swash", serif;
}
